<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outbreaks in Toronto Healthcare Institutions</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about_style.css') }}">
</head>

<body>
    <header>
        <h1>About Us</h1>
        
        <!-- Navigation Bar -->
        <nav>
            <a href="{{ url_for('home') }}" class="nav-button">Home</a>
            <a href="{{ url_for('about') }}" class="nav-button">About</a>
            <a href="{{ url_for('dashboard') }}" class="nav-button">Dashboard</a>
            <!-- Add more links as needed -->
        </nav>
    </header>  

    <div class="person-container">
        <div class="person-box">
            <img src="static/images/fanny.jpg" alt="Fanny Sigouin">
            <h2>Fanny Sigouin</h2>
            <p>Hello! I'm Fanny Sigouin, an aspiring data analyst.</p>
            <a href="https://www.linkedin.com/in/fannysigouin/" class="linkedin-link" target="_blank">LinkedIn</a>
        
        </div>

        <div class="person-box">
            <img src="path/to/your/image.jpg" alt="Ahmed Elpannnann">
            <h2>Ahmed Elpannnann</h2>
            <p>Description.</p>
            <a href="Your email or linkedin address" class="linkedin-link" target="_blank">LinkedIn</a>

        </div>

        <div class="person-box">
            <img src="path/to/your/image.jpg" alt="Olufemi Olarewaju">
            <h2>Olufemi Olarewaju</h2>
            <p>Description.</p>
            <a href="Your email or linkedin address" class="linkedin-link" target="_blank">LinkedIn</a>

        </div>

        <div class="person-box">
            <img src="static/images/vinay.jpg" alt="Vinay Vattipally">
            <h2>Vinay Vattipally</h2>
            <p> Hi, I'm Vinay Vattipally, a data enthusiast currently immersed in a dynamic analytics bootcamp. 
                With hands-on experience in Flask, I've crafted backend magic for our project. Beyond Flask, 
                I've designed engaging user experiences for Home, About, and Dashboard pages, ensuring a seamless interface. 
                My commitment to detail extends to CSS, where each line contributes to a visually stunning UI. 
                Let's connect and explore the endless possibilities of data analytics!

            </p>


            <a href="https://github.com/vinayvattipally-22" class="github-link" target="_blank">GitHub</a>

        </div>

    </div>
</body>
</html>