<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outbreaks in Toronto Healthcare Institutions</title>
    <!-- If using HTML, uncomment the following line -->
    <!-- <link rel="stylesheet" href="../static/css/home_style.css"> -->
    <!-- If using Flask, uncomment the following line -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_style.css') }}">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <header>
        <h1>Welcome to the Toronto Healthcare Outbreak Tracker</h1>
        
        <!-- Navigation Bar -->
        <nav>
            <a href="{{ url_for('home') }}" class="nav-button">Home</a>
            <a href="{{ url_for('about') }}" class="nav-button">About</a>
            <a href="{{ url_for('dashboard') }}" class="nav-button">Dashboard</a>
            <!-- Add more links as needed -->
        </nav>
    </header>  
    
    <!-- Plotly plot container -->
    <div id="outbreaksPlot"></div>

    <!-- If using HTML, uncomment the following line -->
    <!-- <script src="../static/js/avg_outbreak_length_by_institution.js"></script> -->
    <!-- If using Flask, uncomment the following line -->
    <script src="{{ url_for('static', filename='js/outbreaks_year_type.js') }}"></script>
</body>
</html>
